<ion-header [translucent]="false">
  <ion-toolbar color="white" class="bg-primary text-white">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title translate>home.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="assets/icon/logo.png"
    class="mx-auto w-40 h-40 mt-8 rounded-full shadow-xl hover:animate-spin"
  />
  <p class="mt-4 font-gray-600 text-center" translate>home.subtitle</p>
</ion-content>
